/* 
                         custom properties 
*/

:root {
  /* 
      !!  color scheme  !!
  */
  --squadPage-white: #ffffff;
  --squadPage-light-grey: #f5f5f5;
  --squadPage-medium-grey: #e6e6e7;
  --squadPage-dark-grey: #c5c5c5;
  --squadPage-black: #1f1f1f;
  --squadPage-red: #d60017;
  /* 
      !!  typografie  !!
  */
}

@media screen (min-width: 30em) {
}

/* medium screens */

@media (min-width: 64em) {
}

/* bigger screens */

@media (min-width: 90em) {
}
